/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 div.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 h2 {
  padding: 1em;
 }

 h1 {
   padding: 0.5em;
 }

 form + a {
   margin-top: 1em;
 }

 a#new-chat-btn {
   margin-bottom: 1em;
 }

 ul#chat-rooms-list {
   width: 100%;
 }

 div#messages {
  width: 100%;
  max-height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
  .avatar {
    margin: 0.5rem;
  }
  .card {
    margin-bottom: 0.5em;
  }
}

form#new_message {
  position: fixed;
  padding: 0 1em 1em;
  bottom: 0;
  width: 100%;
}

#log-out-btn {
  right: 0;
  position: absolute;
}